.vs/WebApi/DesignTimeBuild/.dtbcache.v2
.vs/WebApi/v17/.futdcache.v1
.vs/WebApi/v17/.suo
.vs/WebApi/DesignTimeBuild/.dtbcache.v2
.vs/WebApi/v17/.futdcache.v1
.vs/WebApi/v17/.suo
.vs/WebApi/DesignTimeBuild/.dtbcache.v2
WebApi/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
WebApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
WebApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
WebApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
WebApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
WebApi/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
WebApi/bin/Debug/net5.0/Microsoft.Identity.Client.dll
WebApi/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
WebApi/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
WebApi/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
WebApi/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
WebApi/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
WebApi/bin/Debug/net5.0/Newtonsoft.Json.dll
WebApi/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
WebApi/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
WebApi/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
WebApi/bin/Debug/net5.0/System.Runtime.Caching.dll
WebApi/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
WebApi/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
WebApi/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
WebApi/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
WebApi/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
WebApi/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
WebApi/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
WebApi/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
WebApi/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
WebApi/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
WebApi/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
WebApi/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
WebApi/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
WebApi/obj/project.assets.json
WebApi/obj/project.nuget.cache
WebApi/obj/project.assets.json
WebApi/obj/project.nuget.cache
WebApi/obj/WebApi.csproj.nuget.dgspec.json
WebApi/obj/WebApi.csproj.nuget.g.props
WebApi/obj/Debug/net5.0/WebApi.assets.cache
WebApi/obj/Debug/net5.0/WebApi.csproj.AssemblyReference.cache
WebApi/obj/Debug/net5.0/WebApi.csproj.CoreCompileInputs.cache
WebApi/obj/Debug/net5.0/WebApi.csproj.FileListAbsolute.txt
WebApi/obj/Debug/net5.0/WebApi.dll
WebApi/obj/Debug/net5.0/WebApi.pdb
WebApi/obj/Debug/net5.0/ref/WebApi.dll
WebApi/obj/Debug/net5.0/refint/WebApi.dll
WebApi/obj/WebApi.csproj.nuget.g.props
WebApi/obj/Debug/net5.0/WebApi.assets.cache
WebApi/obj/Debug/net5.0/WebApi.csproj.AssemblyReference.cache
WebApi/obj/Debug/net5.0/WebApi.csproj.CoreCompileInputs.cache
WebApi/obj/Debug/net5.0/WebApi.csproj.FileListAbsolute.txt
WebApi/obj/Debug/net5.0/WebApi.dll
WebApi/obj/Debug/net5.0/WebApi.pdb
WebApi/obj/Debug/net5.0/ref/WebApi.dll
WebApi/obj/Debug/net5.0/refint/WebApi.dll
WebApi/obj/Debug/net5.0/refint/WebApi.dll
WebApi/obj/Debug/net5.0/WebApi.pdb
WebApi/obj/Debug/net5.0/WebApi.dll
.vs/WebApi/DesignTimeBuild/.dtbcache.v2
.vs/WebApi/v17/.futdcache.v1
.vs/WebApi/v17/.suo
.vs/WebApi/DesignTimeBuild/.dtbcache.v2
WebApi/obj/WebApi.csproj.nuget.dgspec.json
WebApi/obj/WebApi.csproj.nuget.g.props
WebApi/obj/Debug/net5.0/WebApi.assets.cache
WebApi/obj/Debug/net5.0/WebApi.csproj.AssemblyReference.cache
WebApi/obj/Debug/net5.0/WebApi.csproj.CoreCompileInputs.cache
WebApi/obj/Debug/net5.0/WebApi.csproj.FileListAbsolute.txt
WebApi/obj/Debug/net5.0/WebApi.dll
WebApi/obj/Debug/net5.0/WebApi.pdb
WebApi/obj/Debug/net5.0/ref/WebApi.dll
WebApi/obj/Debug/net5.0/refint/WebApi.dll
.vs/WebApi/DesignTimeBuild/.dtbcache.v2
.vs/WebApi/v17/.futdcache.v1
.vs/WebApi/v17/.suo
WebApi/WebApi.csproj
WebApi/WebApi.csproj.user
WebApi/bin/Debug/net5.0/Humanizer.dll
WebApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
WebApi/bin/Debug/net5.0/WebApi.deps.json
WebApi/bin/Debug/net5.0/WebApi.dll
WebApi/bin/Debug/net5.0/WebApi.pdb
WebApi/obj/project.assets.json
WebApi/obj/project.nuget.cache
WebApi/obj/WebApi.csproj.nuget.dgspec.json
WebApi/obj/WebApi.csproj.nuget.g.props
WebApi/obj/Debug/net5.0/WebApi.assets.cache
WebApi/obj/Debug/net5.0/WebApi.csproj.AssemblyReference.cache
WebApi/obj/Debug/net5.0/WebApi.csproj.CoreCompileInputs.cache
WebApi/obj/Debug/net5.0/WebApi.csproj.FileListAbsolute.txt
WebApi/obj/Debug/net5.0/WebApi.dll
WebApi/obj/Debug/net5.0/WebApi.pdb
WebApi/obj/Debug/net5.0/ref/WebApi.dll
WebApi/obj/Debug/net5.0/refint/WebApi.dll
